:root{

    --margin-bottom:10px;    
    --label-padding-right:20px;
    --label-width:200px;
    --border-radius:4px;
    --main-padding:30px;
    --input-text-size:14px;
    --widget-width:250px;
    --color-main:rgb(91, 84, 119);

}

*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{

    color: var(--color-main);
    background-color: rgb(128, 219, 255);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-header{

    text-align: center;
    background-color: rgb(230, 230, 230);

    border: 1px solid rgb(189, 189, 186);

    border-radius: var(--border-radius);

    box-shadow: 8px 1px 2px  rgb(0, 0, 0,0.5);
    margin: 10px 100px;
    padding:var(--main-padding);
}


/* ***********************INPUT TEXT STYLING ************************************** */


.form-row{

    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.form-row input[type='text']
{
border-radius: var(--border-radius);
color: var(--color-main);
font-size: var(--input-text-size);
background-color: rgb(255, 255, 255);
border: 1px solid rgb(186, 189, 186);
padding: 7px;
width: var(--widget-width);

}

.form-row input[type='email']
{
border-radius: var(--border-radius);
color: var(--color-main);
font-size: var(--input-text-size);
background-color: rgb(255, 255, 255);
border: 1px solid rgb(186, 189, 186);
padding: 7px;
width: var(--widget-width);

}
.form-row input[type='email'] :invalid
{
    border: 1px solid rgb(230, 0, 0,0.5);

    color:brown;
    box-shadow: none;
}


.form-row label{
    margin-bottom: 20px;
    padding-right: var(--label-padding-right);
    text-align: right;
    margin-top: 5px;
    width:var(--label-width);
}

.profile-header
 .form-row 
 {
width: 600px;

 }

 /* ***********************RADIO BUTTON  STYLING ************************************** */

 .radio-form-row{
    border: none;
    margin-bottom: var(--margin-bottom);
 }

 .radio-form-row .radio-label {
    font-size: var(--input-text-size);
    padding: 2px 20px 0px 4px;
 }

.radio-form-row legend {
    width: var(--label-width);
    padding-right: var(--label-padding-right);
    text-align: right;
    float: left;
}


/* ***********************DROPDOWN LIST  STYLING ************************************** */

.form-row select{

    padding: 5px;
    font-size: 14px;
    width: var(--widget-width);
}

/* ***********************TEXTAREA   STYLING ************************************** */

.form-row textarea{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    border: 1px solid rgb(128, 219, 255);
    border-radius: var(--border-radius);
    min-width: 100px;
    width: var(--widget-width);
    margin-bottom: var(--margin-bottom);
    padding:10px;



}

.form-row .decription{
    color: green;
    font-size: 14px;
    margin-bottom: var(--margin-bottom);
    margin-left:var(--label-width);
}


.form-row .checkbox-label{

    margin-left:var(--label-width);
    width:auto;
}

.form-row button{
    font-size: 1em;
    font-weight: bold;
    color:white;
    background-color: red;
    border:none;
    border-radius: var(--border-radius);
    padding: 10px 40px;
}